apache*/
BuildData/
Bukkit/
CraftBukkit/
crash-reports/
logs/
PortableGit*/
Spigot/
timings/
work/
world*/
*.log.txt
*.db
ops.json
whitelist.json
usercache.json
banned-players.json
banned-ips.json
plugins/dynmap/*/
!plugins/dynmap/templates/
plugins/dynmap/*.txt
plugins/dynmap/*.yml
!plugins/dynmap/worlds.txt
!plugins/dynmap/configuration.txt
plugins/dynmap/templates/nether*
plugins/dynmap/templates/the_end*
plugins/dynmap/templates/normal*
plugins/dynmap/*.pending
